# Node
node_modules/
npm-debug.log*
dist/
dist-ssr/

# Rust / Tauri
src-tauri/target/
src-tauri/Cargo.lock.bak

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env
.env
.env.local
